$color-producto:black;
$color-precio:black;
$color-fichatecnica:black;
$oferta: Iphone 12 pro;

.oferta{
        @if $oferta==Iphone 12 pro{
            text-decoration: underline;
        }
    }

.producto{
    color:$color-producto;
}
.precio{
color: $color-precio;
}
.fichatecnica{
    color: $color-fichatecnica;
}